body {
    height: 100vh;
    margin: 0;
    overflow: auto;
    font-family: "American Typewriter", serif;
    display: flex;
    flex:auto;

    flex-direction: column;
  }

  /*header pieces*/ 
.header {
    background-color: #76be6d;
    flex:auto;
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 4vh;
    padding-bottom: 2vh;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #e5e7eb;
    font-size: 1.75vw;
    font-weight: bold;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 1vw;
}
.links {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    justify-content: space-between;
    gap: 1.5vw;
}

/* main section pieces */
.main {
    background-color: #76be6d;
    flex:auto;
    display: flex;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.picture-card {
    height: 35vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 5vw;
}

.intro {
    display: flex;
    flex:auto;
    flex-direction: column;
    justify-content: center;
}

.hero-title {
    color: #e5e7eb;
    font-size: 3vw;
    font-weight: 900;
}
.description {
    color: #e5e7eb;
    font-size: 1.3vw;
}

#bday-pic {
    width: auto;
    height: auto;
    display: flex;
    border: 0.25vw solid white;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
}

/* Additional info section */
.middle {
    display: flex;
    flex:auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    padding-top: 3vh;
}

.section-title {
    color: #90df86;
    font-size: 2vw;
    font-weight: bolder;
}

.info-group {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    padding-bottom: 3vh;
}

.picture-info-box {
    display: flex;
    flex-direction: column;
    width: 10vw;
    align-items: center;
    justify-content: center;
}

.rounded-pic {
    height: 25vh;
    width: auto;
    border: 0.25vw solid #76be6d;
    border-radius: 0.5vw;
}

.small-description {
    color: black;
    font-size: 1vw;
    text-align: center;
}

/*testimonial section*/
.external-content {
    background-color: #e5e7eb;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#togetherSince{
    font-family: "Snell Roundhand", "Apple Chancery" , "URW Chancery L", cursive;
    font-style: italic;
    font-size: 2vw;
    display: flex;
}

.big-text {
    font-size: 1.5vw;
    font-weight: bolder;
    display: flex;
}
.quoted {
    margin-left: auto;
    margin-top: 2vh;
}

.footer {
    background-color: #76be6d;
    font-size: 1vw;
    color: #f9faf8;
    padding: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}