html, body {
    overflow: auto;
    font-family: "American Typewriter", serif;
    display: flex;
    flex:auto;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }

  /*header pieces*/ 
.header {
    background-color: #76be6d;
    width: 100%;
    flex:auto;
    display: flex;
    padding: 20px 60px;
    align-items: center;
    justify-content: space-between;
    box-sizing:border-box;
}

.logo {
    color: #e5e7eb;
    font-size: 2.5vw;
    font-weight: bold;
}
.links {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 2vw;
}

/* main section pieces */
.main {
    width: 100%;
    background-color: #76be6d;
    flex:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2vh 5vw;
    box-sizing: border-box;
}

.picture-card {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title {
    color: #e5e7eb;
    font-size: 4.5vw;
    font-weight: 900;
}
.description {
    color: #e5e7eb;
    font-size: 2.2vw;
}

#bday-pic {
    width: auto;
    height: 60%;
    display: flex;
    border: 0.25vw solid white;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
}

/* Additional info section */
.middle {
    height: auto;
    display: flex;
    flex:auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px 20px;
    box-sizing: border-box;
    width: 100%;
}

.section-title {
    color: #90df86;
    font-size: 4vw;
    font-weight: bolder;
}

.info-group {
    display: flex;
    flex-direction: row;
    gap: 12.5vw;
    padding-bottom: 20px;
}

.picture-info-box {
    display: flex;
    flex-direction: column;
    width: 10vw;
    align-items: center;
    justify-content: flex-start;
}

.rounded-pic {
    height: 11vh;
    width: auto;
    border: 0.25vw solid #76be6d;
    border-radius: 0.5vw;
}

.small-description {
    color: black;
    font-size: 1.7vw;
    text-align: center;
}

/*testimonial section*/
.external-content {
    background-color: #e5e7eb;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#togetherSince{
    font-family: "Snell Roundhand", "Apple Chancery" , "URW Chancery L", cursive;
    font-style: italic;
    font-size: 3vw;
    display: flex;
}

.big-text {
    font-size: 2.3vw;
    font-weight: bolder;
    display: flex;
}
.quoted {
    margin-left: auto;
    margin-top: 2vh;
}

.footer {
    background-color: #76be6d;
    font-size: 1.4vw;
    color: #f9faf8;
    padding: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* sizings for bigger screens */
@media only screen and (min-width: 912px){
    .logo {
        font-size: 1.75vw;
    }
    a {
        font-size: 1vw;
    }
    .picture-card {
        height: 40vh;
        gap: 20px;
        width: 100%;
    }
    .hero-title {
        font-size: 2.5vw;
        font-weight: 900;
    }
    .description {
        font-size: 1.3vw;
    }
    #bday-pic {
        width: auto;
        height: 30vh;
        border-radius: 1vw;
    }
    .section-title {
        font-size: 2vw;
        font-weight: bolder;
    }
    .info-group {
        gap: 7.5vw;
    }
    .rounded-pic {
        height: 27vh;
        width: auto;
    }
    .small-description {
        font-size: 1vw;
    }
    #togetherSince{
        font-size: 2vw;
    }
    
    .big-text {
        font-size: 1.7vw;
    }
    .footer {
        font-size: 1vw;
    }
}